html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
a{
    font-size:30px;
    color: black;
    background-color: white;
    text-decoration: none;/*超链接去除下划线*/
}
#container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
#panel {
    font-size: 10px;
    position: fixed;
    background-color:white;
    max-height: 50%;
    max-width: 40%;
    overflow-y: auto;
    top: 0;
    right: 0;
    width: 200px;
}
#panel .amap-call {
    background-color: #009cf9;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;

}
#panel .amap-lib-driving {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    overflow:hidden;
}
#me{
    font-size: 20px;
    text-align: center;
    top:0;
    left:0;
    position:absolute;
}
#meme{
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}
.amap-logo{
    opacity: 0;
}
.amap-copyright{
    opacity: 0;
}
#road {
    font-size: 15px;
    text-align: center;
    bottom:80px;
    left:10px;
    position:absolute;
    margin-top:-100px;

}
#road table{
    width: 400px;
    background-color: #FFFFFF;
}

#road input {
    width:400px;
    font-size: 15px;
}
.planTitle_route{
    font-size: 5px;
}
#go{
    font-size: 20px;
    text-align: center;
    bottom: 15px;
    left:50px;
    position:absolute;
    margin-top:-100px;
}
#red{
    border-radius:10px;
    height:10px;
    width:10px;
    font-size:0.1em;
    background:red;
    position: relative;
    left: 110px;
    display: none;
}